fpdf2
fastapi
docker
markdown2
plotly
langchain-openai==0.1.24
langchain-community==0.2.17
langchain-cohere==0.1.9
langchain==0.2.16
xlrd
pandas
uvicorn
kaleido==0.2.1.post1
openpyxl
numpy
aiofiles
crewai
crewai_tools
python-multipart
flask
requests  # if Flask needs to communicate with FastAPI